# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc


# --- 编译输出目录 (Shadow Builds) ---
# 匹配类似 build-ProjectName-Desktop_Qt_5_15_2_MinGW_64_bit-Debug 的文件夹
build*/

# --- Visual Studio 产生的文件 (包括 .vs 目录) ---
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.db
*.opendb
*.VC.db


# --- Qt Creator 相关 (核心忽略) ---
.qtcreator/
*.pro.user
*.pro.user.*
*.cmake.user
*.cmake.user.*
*.qbs.user
*.qbs.user.*